<!--
Programmer: Sarah Christenson
Date: 11/4/17
Purpose: Mod 5 Course Project - finalize project
Criteria: updating style sheet for responsive panel
-->

@charset "UTF-8";
/* CSS Document */


.ui-footer .ui-title {
	font-size: 16px;
	font-weight: normal;
	color: black;
}
h3, h4 {
	margin-bottom: 0;
}
h3 + p, h4 + p {
	margin-top: 0;	
	font-size: 16px;
	font-weight: normal;
	color: black;
}
img src {
    display: block;
    text-align: center;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
  
 /* stack all grids below 40em (640px) */
@media all and (max-width: 35em) {
	.my-breakpoint .ui-block-a,
	.my-breakpoint .ui-block-b,
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	} 
}
@media ( min-width: 35em ) {

	/* wrap on wide viewports once open */

	.ui-panel-page-content-open.ui-panel-page-content-position-left {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right {
		margin-left: 17em;
	}
	.ui-panel-page-content-open {
		width: auto;
	}

	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}

	/* same as the above but for panels with display mode "push" only */

	.ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
		margin-left: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-display-push {
		width: auto;
	}

	.ui-panel-dismiss-display-push {
		display: none;
	}
}
@media all and (min-width: 800px) {
  #nav {
    width: 300px;
    float: center;
    margin-right: 20px;
  }
  #grid {
    width: 450px;
    float: center;
  }
}
 
@media all and (max-width: 799px) {
  #nav {
    width: 100%;
	float: center;
  }
  #grid {
    width: 100%;
	float: center;
  }
}